<mat-toolbar color="primary">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h3 *ngIf="!(isHandset$ | async)">Guía Admin</h3>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">

      <mat-icon>notifications</mat-icon>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
      <div>
        <ngx-avatar mat-icon-button [matMenuTriggerFor]="profileMenu" [name]="($user | async).user.username">
        </ngx-avatar>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>lock</mat-icon>
            <span (click)="logout()">Logout</span>
          </button>
        </mat-menu>
      </div>

    </div>
  </mat-toolbar>
</mat-toolbar>

<mat-sidenav-container class="example-container" hasBackdrop="true">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" mode="over">
    <mat-nav-list>

      <mat-list-item >
        <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon color="accent">apps</mat-icon>
          <span style="margin-left: 5px;">Dashboard</span>
        </div>
      </mat-list-item>

      <mat-list-item >
          <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon color="accent">people</mat-icon>
            <span  style="margin-left: 5px;">Users</span>
          </div>

          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon  style="margin-top: 2px;" fxFlex="20" >chevron_right</mat-icon>
          </button>
            
          <mat-menu #userMenu="matMenu">
              <button mat-menu-item>Users</button>
              <button mat-menu-item>Beta Users</button>
            </mat-menu>
        </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>