// @import "../assets/css/variables";

// // :host ::ng-deep .ant-back-top-inner {
// //   height: 40px;
// //   width: 40px;
// //   line-height: 40px;
// //   border-radius: 4px;
// //   background-color: #43DCB3;
// //   color: #fff;
// //   text-align: center;
// //   font-size: 20px;
// // }

// // :host ::ng-deep strong {
// //   color: #43DCB3;
// // }

// // .ant-layout-sider-zero-width-trigger {
// //   background-color: #43DCB3;
// // }

