<div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutAlign="space-evenly center">
  <div fxLayout="row"  fxLayoutAlign="center none" style="width: 100%; height: 100vh;background:#55476a;">
    <img style="width: 100%;" src="../../../assets/img/group study.svg" />
  </div>
  <div style="width: 90%;" class="login" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="login__content" fxLayout="column" [formGroup]="loginForm">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="login__content--heading">Login</h1>
        <h1 class="login__content--heading">Welcome Back</h1>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Enter email">
        <mat-icon [color]="(loginForm.get('email').hasError('email') || loginForm.get('email').hasError('required'))
      ? 'warn': 'primary'" matSuffix>

          {{loginForm.get('email').hasError('email') || loginForm.get('email').hasError('required')
        ? 'sentiment_very_dissatisfied' : 'sentiment_very_satisfied' }}
        </mat-icon>

        <mat-error *ngIf="loginForm.get('email').hasError('required')"> Email is required</mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('email')"> Email is invalid</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password').hasError('min')">Password should at least 6</mat-error>

      </mat-form-field>


      <mat-checkbox formControlName="rememberMe" color="primary" style="margin-bottom: 2rem">Remember me</mat-checkbox>

      <button (click)="login()" style="padding: 5px" [disabled]="!loginForm.valid || ($loading | async)"
        mat-raised-button color="primary">Login</button>

      <div style="padding-top: 1rem; cursor: pointer;color: #fa6d16;" fxLayout="row"
        fxLayoutAlign="flex-end">
        <p></p>
        <p style="font-weight: bold">Forgot password</p>
      </div>

    </div>
  </div>
</div>