
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $bdirs-frontend-primary: mat-palette($mat-indigo);
// $bdirs-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $bdirs-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// $bdirs-frontend-theme: mat-light-theme($bdirs-frontend-primary, $bdirs-frontend-accent, $bdirs-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($theme);
* {
    margin: 0;
    padding: 0;
  }
$mat-guia-admin-primary: (
    50 : #e7e5ea,
    100 : #c3becb,
    200 : #9b93a8,
    300 : #736885,
    400 : #55476a,
    500 : #372750,
    600 : #312349,
    700 : #2a1d40,
    800 : #231737,
    900 : #160e27,
    A100 : #9466ff,
    A200 : #7033ff,
    A400 : #4d00ff,
    A700 : #4500e6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-guia-admin-accent:  (
    50 : #fff3e7,
    100 : #fee1c3,
    200 : #fecd9b,
    300 : #fdb973,
    400 : #fcaa55,
    500 : #fc9b37,
    600 : #fc9331,
    700 : #fb892a,
    800 : #fb7f23,
    900 : #fa6d16,
    A100 : #ffffff,
    A200 : #fff9f6,
    A400 : #ffd8c3,
    A700 : #ffc8aa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-guia-admin-secondary: (
    50 : #feeae2,
    100 : #fcccb6,
    200 : #faaa85,
    300 : #f88754,
    400 : #f76e30,
    500 : #f5540b,
    600 : #f44d0a,
    700 : #f24308,
    800 : #f03a06,
    900 : #ee2903,
    A100 : #ffffff,
    A200 : #ffe5e1,
    A400 : #ffb7ae,
    A700 : #ffa195,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: mat-palette($mat-guia-admin-primary);
$accent: mat-palette($mat-guia-admin-accent);
$secondary: mat-palette($mat-guia-admin-secondary);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.notif-success {
    color: #155724 !important; // green
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    .mat-simple-snackbar-action {
        color: #155724 !important;
    }
}

.notif-error {
    color:white !important; // green
    background-color:red !important;
    border-color: #c3e6cb !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
}


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming


/* You can add global styles to this file, and also import other style files */


